@media screen and (max-width:870px) {
      
    textarea {
        width:300px;
    }
    
    td {
        font-size:0.7em;
    }
    
    .wrap_main li {
        display:block;
        text-align:center;
        margin:auto;
    }
    
    textarea {
        width:200px;
    }
    .meni {
        padding:0;
        width:100%;
        min-height:50px;
        margin:auto;
        margin-top:10px;
    }

    ul {
        margin:auto;
        display:block;
        padding:0;
    }
    
    td {
        font-size:0.7em;
    }
    .prezentacija {
        width:100%;
    }
    
    .projekt.jedan {
        min-width:250px;
        margin-top:10px;
        margin:auto;
        height:auto;
        width:250px;
    }
    
    .projekt {
        height:auto;
    }

    .projekt_slika {
        margin:0;
    }
    
    .projekt_opis {
        margin:0;
    }
    
    
    .red {
        display:block;
        height:auto;
    }
    
    .wrap_main {
        margin:0 auto;
        width:100%;
    }
    
    .projekt_opis {
        display:none;
    }
    
    .wrap_main.red {
        width:100%;
        display:inline-block;
    }
    
}


body {
    width:100%;
    background-color:white;
    margin:0 auto;
    height:auto;
    
}

p,h1, h2, h3,h4, a, input,table, td {
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

p {
    color:#444444;
    font-size:9pt;
}

img {
    width:100%;
    height:100%;
}

h3 {
    font-size:0.875em;
    font-weight:bold;
}

#logo_img {
    max-width:75px;
    max-height:75px;
    float:left;
    margin-left:10%;
}

#logo_text {
    height:100%;
    vertical-align:text-bottom;
    color:#3090C7;
}


.naslov {
    width:100%;
    height:75px;
    display:inline-block;
    
}

.wrap_main {
    width:80%;
    margin:20px auto;
    height:auto;
    overflow:hidden;
    display:block;
}


.meni {
    padding: 10px;
    width:100%;
    min-height:50px;
    margin:auto;
    margin-top:10px;
}

ul {
    width:100%;
    margin: auto;
}

li {
    display:inline-block;
    margin-left:2%;
    margin-right:2%;
}

a {
    width:100px;
    text-decoration:none;
}

a:link {
    color:gray;
}

a:visited {
    color:gray;
}

a:hover {
    color:black;
}

.prezentacija {
    width:100%;
    margin:auto;
}

.wrap_about .red {
    margin-left:0;
}

.red {
    width:100%;
    height:auto;
    margin:auto;
    float:left;
}

.projekt {
    margin:10px auto;
    height:250px;
    margin-right:2px;
    margin-left:2px;
    min-width:150px;
    display:inline-block;
    text-align:justify;
}


.projekt.jedan {
    width:49%;
    min-width:250px;
    border:1px solid black;
}


.projekti {
    width:100%;
    height:2;
    display:block;
    margin:10px auto;
}

.projekt_opis {
    width:auto;
    border-right:1px solid;
    border-color:#3D3C3A;
    height:inherit;
    margin:0 auto;
    margin-right:250px;
    float:left;
        word-wrap:break-word;
    overflow:hidden;
    text-overflow: ellipsis;
}

#kratakOpis {
    margin-left:3px;
    margin-right:3px;
}


.projekt_slika {
    height:250px;
    width:250px;
    margin:0;
    padding:0;
    border:0 none;
    float:right;
    margin-left:-250px;
}


.contact_form, .narucivanje_form {
    margin-top:50px;
    margin-right:10%;
}

.login_form {
    margin:150px auto;
    width:300px;
    
    
}

.wrap_about {
    margin-top:50px;
}

.pretraga {
    width:50%;
    margin:0 auto;
}
.wrap_pitanja {
    width:50%;
    margin:0 auto;
    height:800px;
    border-bottom:2px solid #4C4646;
}

.wrap_pitanje {
    margin-top:10px;
   border-bottom:1px solid gray; 
}

.wrap_pitanje .naslov {
    height:25px;
}

.pitanje_form {
    width:50%;
    margin:auto;
    margin-top:50px;
}
.about {
    margin-top:25px;
}

footer {
    height:25px;
    background-color:#D1D0CE;
}

footer a {
    margin-left:20px;
}
